.notification-wrapper {
  position: relative;
}

.bell {
  /* position: relative; */
  /* font-size: 22px; */
  cursor: pointer;
}
.BellIcon {
  height: 28px;
  width: 28px;
  margin-top: 10px;
}
.badge {
  position: absolute;
  top: -1px;
  right: -3px;
  background: red;
  color: white;
  font-size: 12px;
  /* padding: 2px 6px; */
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
}

/* Dropdown */
.notification-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  width: 340px;
  max-height: 400px; /* ✅ important */
  overflow-y: auto; /* ✅ scroll */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 100;
}

.notification-dropdown h4 {
  margin-bottom: 10px;
}

/* Items */
.notification-item {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  transition: 0.2s;
  gap: 5px;
}

.notification-item:hover {
  background: #f0f7ff;
  cursor: pointer;
}

.notification-item.unread {
  background: #eef2ff;
  font-weight: 500;
}

.notification-item.read {
  opacity: 0.6;
}
.notification-item p {
  margin: 0;
  font-size: 14px;
}

.notification-item span {
  font-size: 11px;
  color: gray;
}
.notif-content {
  flex: 1;
}
/* LEFT DOT */
.notif-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 1px;
}

/* TYPE COLORS */
.notif-dot.new_student {
  background: #22c55e; /* green */
}

.notif-dot.status {
  background: #6366f1; /* indigo */
}

.notif-dot.note {
  background: #f59e0b; /* orange */
}
.mark-btn {
  background: #6366f1;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
}

.mark-btn:hover {
  background: #4f46e5;
}
/* Empty */
.empty {
  text-align: center;
  color: gray;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
